<a href="https://colab.research.google.com/github/ms624atyale/Exercise/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%98%88%EC%A0%9C200_functions_Exercise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
scope=[1,2,3]
for x in scope:
  print(x)
  break
else:
  print('Perfect')

1

In [ ]:
x=0
while x < 10:
  x=x+1
  if x<3:
    continue
  print(x)
  if x>7:
    break

3
4
5
6
7
8

In [ ]:
x=0
while x < 10:
  x=x+1
  if x<3:
    continue
  print(x)

3
4
5
6
7
8
9
10

In [ ]:
x=1
total=0
while 1:
  total=total+x
  if total > 100000:
    print(x)
    print(total)
    break
  x=x+1

447
100128

In [ ]:
val=None
condition=1
if condition==1:
  val=[1,2,3]
  print(val)
else:
  val = 'I love Python.'

[1, 2, 3]

In [ ]:
money=2000
if money >=3000:
  print ("take a taxi.")
else:
  print ("walk home.")

walk home.

In [ ]:
int_data=10
bin_data=0b10
oct_data=0o10
hex_data=0x10
long_data=12345678901234567890
print(int_data)
print(oct_data)
print(hex_data)
print(bin_data)
print(long_data)

10
8
16
2
12345678901234567890

In [ ]:
val=None
condition=1
if condition==1:
  val=[1,2,3]
else:
  val='I love Python'

In [ ]:
f1=1.0
f2=3.14
f3=1.56e3
f4=-0.7e-4
print(f1)
print(f2)
print(f3)
print(f4)

1.0
3.14
1560.0
-7e-05

In [ ]:
i=2; f=4.0
print(f+i)
print(f*i)
print(f/i)
print(4/2)

6.0
8.0
2.0
2.0

In [ ]:
c1=1+7j
print(c1.real); print(c1.imag)
c2=complex(2,-3)
print(c2)

1.0
7.0
(2-3j)

In [ ]:
a=1
b=2
ret=a+b
print('a와 b를 더한 값은', end='')
print(ret, end='')
print('입니다.')

a와 b를 더한 값은3입니다.

In [ ]:
a=1398
b=2589
ret=a+b
print("a와 b를 더한 값은",end='')
print(ret,end='')
print('입니다.')

a와 b를 더한 값은3987입니다.

In [ ]:
a=2
b=4
ret1=a+b #ret1=2+4=6
ret2=a-b #ret2=2-4=-2
ret3=a*b #ret3=2*4=8
ret4=a/b #ret4=2/4=0.5
ret5=a**b #ret5=2**4=16 거듭제곱
ret6=a+a*b/a #ret6=2+2*4/2=6 
ret7=(a+b)*(a-b) #ret7=(2+4)*(2-4)=-12
ret8=a*b**a #ret8=2*4**2=32 거듭제곱
print(ret1)
print(ret2)
print(ret3)
print(ret4)
print(ret5)
print(ret6)
print(ret7)
print(ret8)

6
-2
8
0.5
16
6.0
-12
32

In [ ]:
a=0
a+=1 #a=a+1, a의 값은 1
a-=-5 #a=a-5, a의 값은 -4 
a*=2 #a=a*2, a의 값은 -8
a/=4 #a=a/4, a의 값은 -2.0
print(a)

-2.0

In [ ]:
a=True
b=False
print(a==1)
print(b!=0) #False 값이 할당된 b가 0과 다른 값인지 체크. 다른 값이면 True. 같은 값이면 False

True
False

In [ ]:
while True:
  if a==True:
    break

In [ ]:
x=1; y=2
str1='abc'; str2='python'
print(x==y)
print(x!=y)
print(str1==str2)
print(str1!=str2)
print(str2=='python')
print(str1<str2)

False
True
False
True
True
True

In [ ]:
bool1=True; bool2=False; bool3=True; bool4=False
print(bool and bool2) #A와 B and 연산 결과 출력
print(bool1 and bool3) #A와 B and 연산 결과 출력
print(bool2 or bool3)#A와 B or 연산 결과 출력
print(bool2 or bool4)#A와 B or 연산 결과 출력
print(not bool1) #A와 논리값의 반대 출력
print(not bool2) #A와 논리값의 반대 출력

False
True
True
False
False
True

In [ ]:
bit1 = 0x61
bit2 = 0x62
print(hex(bit1 & bit2))
print(hex(bit1 | bit2))
print(hex(bit1 ^ bit2))
print(hex(bit1 >> 1))
print(hex(bit1 << 2))

0x60
0x63
0x3
0x30
0x184

In [ ]:
strdata='abcde'
listdata=[1, [2,3], 'hi']
tupledata=(100,200,300)

In [ ]:
strdata='Time is money!!'
listdata=[1,2,[1,2,3]]
print(strdata[5])
print(strdata[-2])
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

i
!
1
[1, 2, 3]
3

In [ ]:
strdata='Time is money!!'
listdata=[1,2,[1,2,3]]
print(strdata[1:5])
print(strdata[:7])
print(strdata[9:])
print(strdata[:-3])
print(strdata[-3:])
print(strdata[:])
print(strdata[::2])

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!

In [ ]:
strdata1='I love '; strdata2='Python'; strdata3='you'
listdata1=[1,2,3]; listdata2=[4,5,6]
print(strdata1+ strdata2)
print(strdata1+ strdata3)
print(listdata1+listdata2)

I love Python
I love you
[1, 2, 3, 4, 5, 6]

In [ ]:
artist='BTS'
sing='butter~'
dispdata=artist +'가 부르는 ' + sing*3
print(dispdata)

BTS가 부르는 butter~butter~butter~

In [ ]:
listdata=[1,2,3]
displistdata=listdata*5
print(displistdata)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
strdata1='I love Python' #Unit031 시퀀스 자료 크기 이해하기
strdata2='나는 파이썬을 사랑합니다'
listdata=['a','b', 'c', strdata1, strdata2]
print(len(strdata1))
print(len(strdata2))
print(len(listdata))
print(len(listdata[3]))

13
13
5
13

In [ ]:
listdata=[1,2,3,4] #Unit032 멤버체크 이해하기 (in)
ret1=5 in listdata #False
ret2=4 in listdata #True
print(ret1);print(ret2)
strdata='abcde'
ret3='c' in strdata #True
ret4='l' in strdata #False
print(ret3);print(ret4)

False
True
True
False

In [ ]:
strdata1='나는 파이썬 프로그래머다' #Unit033 문자열 (선언방법) 이해하기
strdata2="You are a programmer"
strdata3='''I love
  Python. You love
Python too!
'''
strdata4='My son\'s name is John'
strdata5="My daughter's name is Sally"
strdata6='문자열 "abc"의 길이는 3입니다.'
print(strdata1)
print(strdata2)
print(strdata3)
print(strdata4)
print(strdata5)
print(strdata6)

나는 파이썬 프로그래머다
You are a programmer
I love
  Python. You love
Python too!

My son's name is John
My daughter's name is Sally
문자열 "abc"의 길이는 3입니다.

In [ ]:
txt1='JAVA'; txt2='Python' #Unit04 문자열 포맷팅 이해하기
num1=5; num2=10
print('나는 %s보다 %s에 익숙합니다.' %(txt1,txt2)) #문자열에 할당하는 것이 변수인데, 이걸 굳이 %s 문자열이라고 표시해야 하는 이유는? 안해도 될 거 같아 밑에 시연 해봄.
print('나는 %d보다 %d에 익숙합니다.' %(txt1,txt2)) #%s를 %d 로 바꾸니까 에러 났음 with 문자 포맷열 변수 사용.
print('%s는 %s 보다 %s배 더 쉽습니다.' %(txt2, txt1, num1))
print('%d + %d = %d' %(num1, num2, num1+num2))
print('%s + %s = %s' %(num1, num2, num1+num2)) #%d를 %s 로 바꾸어도 에러 안남 with 정수 포맷열 변수 사용 (cf., Line 4)
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.' %(num1))
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.' %(num1*num2))
print('%d + %d = %d' %(3, 4, 7))
print('%s + %s = %s' %(3, 4, 7)) #왜 정수 포맷열을 문자열로 할당/대입해도 결과가 나오지? (내가 그냥 해봄)
print('%s + %s = %s' %('a', 'b', 'c'))
print('%d + %d = %d' %('a', 'b', 'c')) #왜 문자 포맷열을 %정수로 할당/대입하니까 오류가 남 (내가 그냥 해봄).  책 내용 중 소스: 034-1.py 내용은 이해 못함

나는 JAVA보다 Python에 익숙합니다.
나는 JAVA보다 Python에 익숙합니다.
Python는 JAVA 보다 5배 더 쉽습니다.
5 + 10 = 15
5 + 10 = 15
작년 세계 경제 성장률은 전년에 비해 5% 포인트 증가했다.
작년 세계 경제 성장률은 전년에 비해 50% 포인트 증가했다.
3 + 4 = 7
3 + 4 = 7
a + b = c

TypeError: ignored

In [ ]:
print('나는 파이썬을 사랑합니다.\n파이썬은 자바보다 쉽습니다.') #Unit035 Escape 문자 이해하기
print('Name:John Smith\tSex: Male\tAge:22')
print('이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다.\
그래서\\Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.')
print('작은따옴표(\')와 큰따옴표(\")는 문자열을 정의할 때 사용합니다.')
print('작은따옴표(\')와 큰따옴표(")는 문자열을 정의할 때 사용합니다.')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 쉽습니다.
Name:John Smith	Sex: Male	Age:22
이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다.그래서\Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.
작은따옴표(')와 큰따옴표(")는 문자열을 정의할 때 사용합니다.
작은따옴표(')와 큰따옴표(")는 문자열을 정의할 때 사용합니다.

In [ ]:
list1=[1,2,3,4,5] #Unit036 리스트 이해하기 ([])
list2=['a', 'b', 'c']
list3=[1, 'a', 'abc', [1,2,3,4,5], ['a', 'b', 'c']]
list1[0]=6 # What is this? 변수 list1에 첫번째 숫자열을 6 으로 대체한다는 것임 
print(list1) #[6, 2, 3, 4, 5]출력
def myfunc():
  print('안녕하세요')
list4=[1,2, myfunc]
list4[2]() #Line6에서 myfunc을 define 할 때 ()를 써놔서, 여기서 리스트의 [2]에 해당하는 것을 출력하라고 할 때 ()를 붙여놓았다

[6, 2, 3, 4, 5]
안녕하세요

In [ ]:
tuple1=(1,2,3,4,5) #Unit037 튜플 이해하기(())
tuple2=('a','b','c')
tuple3=(1, 'a', 'abc', [1,2,3,4,5], ['a', 'b', 'c'])
#tuple1[0]=6 #print (tuple1) #TypeError: 'tuple' object does not support item assignment
def myfunc():
  print('안녕하세요')
tuple4=(1,2,myfunc) #튜플4 변수에 오른 쪽 1,2,myfunc을 할당할 때 = 심볼이 필요했는데 이를 누락해서 에러가 몇 번 났음. 조심하기
tuple4[2]()

안녕하세요

In [ ]:
dict1={'a':1, 'b':2, 'c':3} #Unit038 사전 이해하기({})
print(dict1['a']) # 사전에서는 인덱싱으로 [#] 를 프린트하라는 수행하라고 할 수 없더라 (예시: print(dict1[1])) 왜냐하면 사전은 시퀀스 자료가 아니기 때문이다..
dict1['d'] = 4 # 새로운 키 값을 추가하는 방법은 [ ]=을 사용한다
print(dict1)
dict1['b']=7
print(dict1)
print(len(dict1))

1
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 7, 'c': 3, 'd': 4}
4

In [ ]:
def add_number(n1,n2): #Unit039 함수 이해하기
  ret=n1+n2 
  return ret #인자 있고 리턴값 있음 (내가 이해한 게 맞나??)
  #인자와 리턴값이 있는 함수 호출방법 변수=함수이름(값1, 값2...)\ 
  #리턴값은 있지만 인자가 없는 return 결과값\
  #함수의 인자와 리턴값이 없는 경우 return 만 하거나 return 생략하고 함수이름()\
  #정의된 함수를 호출하는 방법은 함수 인자 자리에 실제값을 대임하여 함수 이름만 호출하기. 

def add_txt(t1, t2):
  print(t1+t2)  #출력하되 리턴값은 없음 (내가 이해한 게 맞나??)

ans=add_number(10,15)
print(ans)

ans=add_number(100, 250)
print(ans)

text1='대한민국~'
text2='만세!!'
add_txt(text1,text2)

25
350
대한민국~만세!!

In [ ]:
print('hello')